.feedback-modal {
    position: relative;
    max-width: 450px;
    background: #fff;
    margin: auto;
    padding: 30px;
    text-align: center;
    border-radius: 2px;
}
.feedback-title {
    font-size: 24px;
    margin-bottom: 1.5rem;
}

.feedback-row {
    margin-bottom: 1rem;
}
.feedback-field-wrap {
    max-width: 300px;
    margin: auto;
}

.feedback-field {
    width: 100%;
    font-size: 16px;
    padding: 8px 12px;
}
.form-error {
  color: red;
}
.form-done {
  color: $color-link-primary;
}
.feedback-agree {
    margin: 0.5rem auto 0.5rem;
}
