.mfp-bg {
  background: rgba(11, 11, 11, 0.3);
}
.added-modal {
  position: relative;
  max-width: 500px;
  background: #fff;
  padding: 20px;
  margin: auto;
  position: relative;
}
.added-title {
  text-align: center;
  margin-bottom: 1rem;
}

.added-content {
  text-align: center;
}

.added-close {
  border: 1px solid;
  background: none;
  padding: 5px;
  font-size: 16px;
  color: #4a4a4a;
}

.added-link {
  border: 1px solid;
  padding: 5px;
  font-size: 16px;
  color: #4a4a4a;
}
