.mfp-bg {
  background: rgba(11, 11, 11, 0.3);
}
.added-modal {
  position: relative;
  max-width: 500px;
  background: #fff;
  padding: 20px;
  margin: auto;
  position: relative;
}
.added-title {
  text-align: center;
  margin-bottom: 1rem;
}

.added-content {
  text-align: center;
}
