<div class="container">
	<h1 class="blog-title">{{ blog.title }}</h1>
	<div class="blog container">
  <div class="row">

    <div class="blog-articles cell-9 cell-12-mc">

      {% include 'articles-list' %}

    </div>

    <div class="blog-right-column cell-3 cell-12-mc">

      {% include 'article-right-column' %}

    </div>

  </div>
</div>
</div>
