<div class="benefits">
  <div class="container">
    <div class="row flex-center">

      <div class="cell-4">
        <div class="benefit">
          <div class="benefit-img">
            <img src="{{ 'delivery.svg' | asset_url }}">
          </div>
          <div class="benefit-text text-center">
            Бесплатная доставка
          </div>
        </div>
      </div>

      <div class="cell-4">
        <div class="benefit">
          <div class="benefit-img">
            <img src="{{ 'call-center.svg' | asset_url }}">
          </div>
          <div class="benefit-text text-center">
            Тех поддержка
          </div>
        </div>
      </div>

      <div class="cell-4">
        <div class="benefit">
          <div class="benefit-img">
            <img src="{{ 'percentage.svg' | asset_url }}">
          </div>
          <div class="benefit-text text-center">
            Скидки каждый день
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
