<div class="container">

  {% include "promo" %}

  {% for product in collections.frontpage.products %}
    {% assign hide_product = false %}
    {% include "products_slider", products_title: collections.frontpage.title, products_prefix: 'is-frontpage', card_prefix: 'in-frontpage', hide_product: hide_product  %}
  {% endfor %}

  <div class="page-content">
    {{ page.content }}
  </div>

</div>
