/** promo slider */
.promo-slider-wrapper .swiper-wrapper {
	margin: 0;
}

.promo-slider-pagination {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	bottom: 1rem;
	position: absolute;
	z-index: 1;
}

@media screen and (max-width: 768px) {
	.promo-slider-pagination {
		position: static;
		padding: 0.5rem;
		background-color: rgba(0, 0, 0, 0.8);
	}
}

.promo-slider-prev, .promo-slider-next {
	width: 3rem;
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 1;
	font-size: 2.5rem;
	cursor: pointer;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.promo-slider-prev .fa, .promo-slider-next .fa {
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.promo-slider-prev:hover, .promo-slider-next:hover {
	color: #4285f4;
}

.promo-slider-prev.swiper-button-disabled, .promo-slider-next.swiper-button-disabled {
	color: #555555;
}

.promo-slider-prev.swiper-button-disabled:hover, .promo-slider-next.swiper-button-disabled:hover {
	cursor: default;
}

.promo-slider-prev {
	left: 0;
}

.promo-slider-next {
	right: 0;
}

.slide-inner {
	display: inline-block;
	width: 100%;
}

.slide-caption {
	padding: 1rem 1rem;
	background-color: rgba(0, 0, 0, 0.8);
}

@media screen and (min-width: 769px) {
	.slide-caption {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		position: absolute;
		z-index: 1;
		background-color: rgba(0, 0, 0, 0.7);
	}
}

.slide-title {
	color: #fff;
	font-size: 1.4rem;
}
