<div class="page-content">

  {% include "breadcrumb" %}

  <div class="decorated-title-wrapper">
    <div class="decorated-title">
      {% include "page_header" %}
    </div>
  </div>

  <div class="row">

    <div class="product-gallery-wrapper cell-6 cell-12-sm">
      {% include "product_gallery" %}

      {% include "product_labels" %}
    </div>

    <div class="product-content-wrapper cell-6 cell-12-sm">

      <div class="product-introtext on-page editor">{{ product.short_description | editable }}</div>

      {% include "product_form" %}
    </div>

    <div class="cell-12">
      {% include "product_tabs" %}
    </div>

    <div class="cell-12">
      {% include "slider", slider_class: 'related-products', slider_products: product.related_products, slider_heading: 'Сопутствующие товары' %}
    </div>

    <div class="cell-12">
      {% include "slider", slider_class: 'similar-products', slider_products: product.similar_products, slider_heading: 'Похожие товары' %}
    </div>

  </div>

</div>
