
// улучшайзинг стандартной формы обратной связи.
.page-\/page\/feedback {
  form {
    table {
      width: 100% !important;
      padding: 0 !important;
    }

    #thanks {
      &:not(:empty) {
        @extend .notice;
        @extend .notice-success;
        @include flex(1 1 90%);
        margin-left: 0.5rem;
        margin-right: 0.5rem;
      }
    }

    td {
      text-align: left !important;
      @extend .form;
    }

    p {
      @extend .form-row;
      @include flex-basis(100%);
    }

    label {
      @extend .form-label;
    }

    small {
      @extend .notice;
      @extend .notice-info;

      width: 100%;
      font-size: 1rem;
    }

    textarea,
    input:not([type="submit"]) {
      @extend .form-field;
    }

    input[type="submit"] {
      @extend .button;
      @extend .button.is-primary;
    }
  }
}
