<div id="cart-add" class="mfp-hide added-modal mfp-with-anim">
  <div class="added">
    <div class="added-title">
      Товар добавлен в корзину
    </div>
    <div class="added-content">
      <a href="/cart_items" class="added-link bttn-prim">Оформить заказ</a>
      <button class="added-close bttn-transparent">Продолжить покупки</button>
    </div>
  </div>
</div>

{% include "feedback" %}
