<!DOCTYPE html>
<html>

<head>
  {% include "head" %}

  {% include "styles" %}
</head>

<body>
  {% include "header" %}

  <div class="container">
    {{ content_for_layout }}
  </div>

  {% include "footer" %}

  {% include "scripts" %}
</body>
</html>
