<div class="container">
	<h1>404</h1>
	<div>
		<h2>Здравствуйте!</h2>
		<p>Добро пожаловать на «страницу 404» нашего сайта.</p>
		<p>К сожалению, введенный Вами адрес недоступен. Этому может быть несколько объяснений:</p>
		<ul>
			<li>Страница удалена (из-за утраты актуальности информации)</li>
			<li>Страница перенесена в другое место</li>
			<li>Возможно, при вводе адреса была пропущена какая-то буква (на самом деле, у нас самих так часто получается)</li>
		</ul>
	</div>
</div>
