.cart {
}

.cart-control {
}

.total-summ {
  margin-top: $vertical-gutter;
  margin-bottom: $vertical-gutter;

  line-height: 1.2;
}

.summ-caption {
  font-size: $font-size-large;
  text-transform: uppercase;
}

.summ-number {
  font-size: $font-size-large;
  color: $color-link-primary;
  font-weight: normal;
}

.cart-checkout {
  text-transform: uppercase;
  font-size: $font-size-medium;
}

/** cart widget*/

.shopcart-widget {
  @include display-flex();
  @include flex-wrap(nowrap);
}

.shopcart-link {
  font-size: $font-size-primary;
  white-space: nowrap;
  @include display-flex();
  @include flex-wrap(nowrap);

  @include link-decor($color-text-secondary, $color-link-secondary-hover);
}

.shopcart-icon {
  margin-right: 0.3rem;
}

.shopcart-widget-count {
  line-height: 1rem;
  padding: 0 0.5rem;
  border-radius: 0.5rem;

  background-color: $color-link-secondary;
  color: $color-background-secondary;
  font-size: 80%;
}
