.product-quantity-input {
  width: 50px;
  text-align: center;
  padding: 5px;
}
.product-buy {
  margin: 1rem 0;
}
.item-quantity-control {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
