<!DOCTYPE html>
<html>

<head>
  {% include "head" %}

  {% include "styles" %}
</head>

<body>
  {% include "header" %}

  {{ content_for_layout }}

  {% include "footer" %}

  {% include "scripts" %}
</body>
</html>
