.product_tabs-item {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #b4b4b4;
  cursor: pointer;
  user-select: none;
}

.product_tabs-item.is-button-active {
  color: #444;
}
.product_tabs-item {
  display: inline-block;
  vertical-align: top;
  border-bottom: 1px solid transparent;
  border-radius: 0;
  outline: none;
  padding: 0 5px 8px 5px;
}

.product_tabs-item.is-button-active {
  border-bottom: 3px solid #1565c0;
}
