html {
  font-size: $font-size-primary;
}

body {
  font-size: $font-size-primary;
  font-family: $font-family-primary;
  font-weight: 300;

  background-color: $body-background-color;
  color: $color-text-primary;

  @if $body-background-use {
    background-image: url('body-background-image.jpg');
    background-size: cover;
  }

  a {
    @include transition-duration();

    &:not([class]) {
      @include link-decor($color-link-primary, $color-link-primary-hover);
    }
  }
}

.link {
  @include link-decor($color-text-primary, $color-link-primary-hover);
}

/** base */
.page-header {
  font-size: $font-size-h1;
  line-height: 1.4;
  font-weight: 300;
}

.decorated-title-wrapper {
  @include display-flex();
  @include flex-wrap(wrap);
  @include justify-content(space-between);
  margin-bottom: 2rem;
  border-bottom: 2px solid $gray-lighter;
}

.decorated-title {
  display: inline-block;
  margin-bottom: -2px;
  margin-right: 0.5rem;
  border-bottom: 2px solid $color-link-primary;

  line-height: 2;
  font-size: $font-size-large;
  font-weight: 300;
}

.page-wrapper {
  @include display-flex();
  @include align-items(stretch);
}

.page-inner {
  background-color: $color-background-primary;

  @include pie-clearfix();
}

.page-content {
  margin-bottom: $block-gutter;
}
.page-sidebar {
  margin-bottom: $vertical-gutter;
}

.sidebar-block {
  + & {
    margin-top: 2rem;
  }
}

.sidebar-block-header {
  margin-bottom: 1.5rem;
  padding-top: 0.7rem;
  border-bottom: 2px solid $gray-lighter;
  line-height: 2;

  font-size: $font-size-h3;
  font-weight: normal;
}

/** TOP PANEL */
.top-panel {
  padding-top: $vertical-gutter/2;
  padding-bottom: $vertical-gutter/2;

  background-color: $color-background-secondary;

  @include media-max(sm) {
    position: fixed;
    min-width: 320px;
    min-height: 2rem;
    left: 0;
    right: 0;
    top: 0;

    box-shadow: $shadow;
    z-index: z(dropdown);
  }
}

.top-panel-inner {
  //@include flex-wrap(nowrap);
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}

.top-menu-wrapper {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  @include flex(1 1 60%);
}

.top-panel-open {
  @include menu-link($color-text-secondary, $color-link-secondary-hover, $color-link-secondary);
  padding: 0 0.75rem;
  background-color: transparent;
  border: none;

  &:focus {
    outline: none;
  }
}

/** HEADER */
.header {
  padding-top: 2rem;
  padding-bottom: 2rem;

  border-bottom: 2px solid $gray-lighter;

  @include media-max(sm) {
    margin-top: 2rem;
    padding-top: $vertical-gutter;
    padding-bottom: $vertical-gutter;
  }
}

.header-block {
  margin-top: $vertical-gutter;
  margin-bottom: $vertical-gutter;
  @include display-flex();
}

.email,
.phone {
  .contact-link{
    @include link-decor($color-text-primary, $color-link-primary-hover);
  }

  .icon {
    display: inline-block;
    margin-right: 5px;

    color: $color-link-primary;
  }
}

/** logotype */
.logotype {
}

.logotype-link {
  line-height: 1;

  @include link-decor($color-link-primary, $color-link-primary-hover)
}

.logotype-text {
  font-size: $logotype-font-size;
  font-family: $logotype-font-family;
  line-height: 1.1;
}

.logotype-image {
}

/** -- HEADER */

/** FOOTER */
.footer {
  padding-top: $vertical-gutter;
  padding-bottom: $vertical-gutter;

  background-color: $color-background-secondary;
  color: $color-text-secondary;

  a:not([class]) {
    @include link-decor($color-text-secondary, $color-link-secondary-hover, 'underline');
  }
}

.footer-block {
  margin-top: $vertical-gutter;
  margin-bottom: $vertical-gutter;

  .contact-link {
    @include link-decor($color-text-secondary, $color-link-secondary-hover);
    .icon {
      color: $color-link-secondary;
    }
  }
}

/** -- FOOTER */

/** panels */

.alertify {
  .ajs-panel {
    box-shadow: $shadow;
    margin: 0;

    &.left {
      top: 0;
      bottom: 0;
      left: 0;
      width: 300px;
      min-height: 100%;
    }
    .ajs-reset {
      display: none !important;
    }

    &.top {
      top: 0;
      left: 0;
      right: 0;
      min-width: 300px;
      max-width: 100%;
      min-height: auto;

      .ajs-body {
        min-height: auto;
      }
    }

    &.mobile-search {
      .ajs-commands {
        display: none;
      }
    }
  }

  &.ajs-panel-placeholder {
    .ajs-modal {
      padding: 0;
    }
  }

  .ajs-modal {
    .ajs-header {
      line-height: 2;
      margin-bottom: 2rem;
      border-bottom: 2px solid $gray-lighter;

      font-size: $font-size-large;
      font-weight: normal;
    }
  }
}
