.article-title {
  font-size: 2.5rem;
}
.article-image {
  margin-bottom: 1rem;
}
.swiper-button-next.products-control-next,
.swiper-button-prev.products-control-prev {
  display: none;
}
.article-products {
  padding: 1rem 0;
}
