.checkout-v2-wrapper {
  &.co-section--checkout_content {
    min-height: auto;
  }

  .co-section--checkout_order_sided {
    @include media-min(sm) {
      padding-right: $grid-gutter;
    }
  }

  .co-sidebar {
    @include media-min(sm) {
      padding-left: $grid-gutter;
    }
  }

  .co-checkout-block--padded {
    padding-right: 0;
    padding-left: 0;
  }

  .co-notice--flash {
    margin-right: 0;
    margin-left: 0;
  }

  select {
    background-image: none !important;
  }

  .co-button--checkout {
    margin-left: auto;
    margin-right: auto;

    @extend .button;
    @extend .button.is-primary;
  }

  .co-basket {
    padding-top: $vertical-gutter;
  }

  .co-button {
    @extend .button;
  }

  .co-price--current {
    font-weight: normal;
    color: $color-link-primary;
  }

  .co-checkout-title {
    margin-top: 0;
  }
}
