.compares {

}

.compare-toolbar {
  margin-top: $vertical-gutter;
  margin-bottom: $vertical-gutter;
}

.compare-table-wrapper {
  overflow-x: auto;
}

.title-link {
  color: $color-link-primary;
}

.table-compare {
  .table-row,
  tr {
    @include display-flex();
    @include flex-wrap(nowrap);
  }
}

.compare-value-wrapper {
  @include display-flex();
  @include flex-wrap(nowrap);
  @include flex(1 1 200px);
}

.param-title {
  @include flex(0 0 200px);
}

.param-value {
  @include flex(0 0 250px);
}

/** Compares widget */
.compares-widget {
  margin-left: auto;
}

.compares-widget-link {
  @include link-decor($color-text-secondary, $color-link-secondary-hover);
  white-space: nowrap;
}
