/** pagination */
.pagination {
	list-style: none;
	margin: 0;
	padding: 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	width: auto;
	-webkit-box-flex: 0 1 auto;
	-webkit-flex: 0 1 auto;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	margin-left: auto;
}

.pagination > .pagination-item {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	position: relative;
}

.pagination .pagination-link {
	display: inline-block;
}

.pagination .pagination-item + .pagination-item {
	margin-left: 3px;
}

.pagination .pagination-item .pagination-link {
	color: #2196F3;
	text-decoration: none;
	border: 1px solid #bbdefb;
	display: block;
	padding: 6px 4px;
	height: auto;
	min-width: 30px;
	color: #333333;
	font-size: 1rem;
	text-decoration: none;
	text-align: center;
	vertical-align: top;
	line-height: 1.1;
}

.pagination .pagination-item .pagination-link:hover {
	color: #0a6ebd;
	text-decoration: none;
}

.pagination .pagination-item.is-current .pagination-link {
	color: #4285f4;
	border-color: #4285f4;
}

.pagination .pagination-item:hover .pagination-link, .pagination .pagination-item .pagination-link:hover {
	border-color: #6fc7f2;
	color: #6fc7f2;
}
