/** search-widget */
.search-widget {
	height: 30px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: stretch;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	border: 1px solid #bbdefb;
	background-color: #fff;
	max-width: 200px;
	min-width: 150px;
}

.search-widget.in-top-menu {
	height: 25px;
}

.search-widget.is-mobile {
	max-width: 100%;
}

.search-widget.on-page {
	margin-bottom: 0.5rem;
}

.search-widget-field {
	display: block;
	width: 100%;
	border: none;
	padding: 0 0.5em;
	-webkit-box-flex: 1 0 100px;
	-webkit-flex: 1 0 100px;
	-ms-flex: 1 0 100px;
	flex: 1 0 100px;
	min-width: 10px;
	background-color: transparent;
}

.search-widget-button {
	display: inline-block;
	-webkit-box-flex: 0 0 30px;
	-webkit-flex: 0 0 30px;
	-ms-flex: 0 0 30px;
	flex: 0 0 30px;
	width: 30px;
	padding: 0;
	color: #4285f4;
	background-color: transparent;
}

.search-widget-button:hover {
	color: #6fc7f2;
	background-color: transparent;
}
