/** special */
.special-categories {
	padding-bottom: 1rem;
}

.special-categories-title {
	margin-bottom: 1rem;
}

.special-category {
	margin-bottom: 1rem;
	margin-top: 1rem;
}

.special-category .category-inner {
	display: block;
	color: #333333;
	text-decoration: none;
}

.special-category .category-inner:hover {
	color: #6fc7f2;
	text-decoration: none;
}

.special-category .category-title {
	text-align: center;
	font-size: 1.2rem;
	text-transform: uppercase;
}

.special-category .category-image-wrapper {
	margin-bottom: 1rem;
}
