@import "function.scss";
@import "mixins.scss";
@import "variables_default.scss";
@import "variables.scss";
@mixin bttn-link {
  padding: 5px 20px;
}

@mixin bttn {
  font-size: $font-size-primary;
  font-family: $font-family-second;
  font-weight: 300;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  line-height: 1.5;
  text-transform: uppercase;
  -webkit-transition: background-color 0.3s, border-color 0.3s, color 0.2s;
  -o-transition: background-color 0.3s, border-color 0.3s, color 0.2s;
  transition: background-color 0.3s, border-color 0.3s, color 0.2s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &.is-white {
    color: #fff;
    border-color: #fff;
  }

  &:focus {
    outline-color: transparent;
  }
}

[type="button"],
[type="submit"],
[type="reset"],
[type="file"],
button {
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;

  &:focus {
    outline-color: $color-link-secondary;
  }
}

.bttn {
  @include bttn;
  @include bttn-link;
}

.bttn-prim {
  @include bttn;
  @include bttn-link;
  background-color: $color-link-primary;
  color: #fff;
  border: 2px solid $color-link-primary;

  &:hover {
    color: #fff;
    background-color: $color-link-primary-hover;
    border-color: $color-link-primary-hover;
  }
}

.bttn-second {
  @include bttn;
  @include bttn-link;
  background-color: $color-link-secondary;
  color: #fff;
  border: 2px solid $color-link-secondary;

  &:hover {
    color: #fff;
    background-color: $color-link-secondary-hover;
    border-color: $color-link-secondary-hover;
  }
}

.bttn-transparent {
  @include bttn;
  @include bttn-link;
  background-color: transparent;
  border: 2px solid $color-link-primary;
  color: $color-link-primary;

  &:hover,
  &.is-fill {
    color: #fff;
    background-color: $color-link-primary;
  }
}

.bttn-transparent-second {
  @include bttn;
  @include bttn-link;
  background-color: transparent;
  border: 2px solid $color-link-secondary;
  color: $color-link-secondary;

  &:hover,
  &.is-fill {
    color: #fff;
    background-color: $color-link-secondary;
  }
}

.bttn-count {
  @include bttn;
  width: 30px;
  height: 30px;
  line-height: 26px;
  min-height: initial;
  color: #d1d1d1;
  border: 1px solid $color-border-primary;
  font-family: $font-family-primary;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  background-color: transparent;

  &:hover {
    border-color: $color-link-primary;
    background-color: $color-link-primary;
    color: #fff;
  }
}

// image
.image-container {
  display: inline-block;
  height: 0;
  width: 100%;
  position: relative;
}

.image-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-height: 100%;
  max-width: 100%;
}

.image-container.is-square {
  padding-top: 100%;
}

.image-container.is-rectangle {
  padding-top: 120%;
}

.image-container.is-rounded {
  padding-top: 100%;
  overflow: hidden;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.image-container.is-simple {
  padding-top: 75%;
}

.image-container.is-wide {
  padding-top: 56.25%;
}

.image-container.is-cover img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

// inputs
input:not([type]),
[type="email"],
[type="number"],
[type="password"],
[type="tel"],
[type="url"],
[type="textarea"],
[type="search"],
[type="legend"],
[type="datetime"],
[type="datetime-local"],
[type="month"],
[type="week"],
[type="fieldset"],
[type="time"],
[type="text"],
textarea {
  font-family: $font-family-primary;
  font-size: 16px;
  padding: 5px 15px;
  border: 1px solid $color-border-primary;

  &::-webkit-input-placeholder {
    color: $color-border-primary;
    -webkit-transition: opacity 200ms;
    -o-transition: opacity 200ms;
    transition: opacity 200ms;
  }

  &::-moz-placeholder {
    color: $color-border-primary;
    -webkit-transition: opacity 200ms;
    -o-transition: opacity 200ms;
    transition: opacity 200ms;
  }

  &:-ms-input-placeholder {
    color: $color-border-primary;
    -webkit-transition: opacity 200ms;
    -o-transition: opacity 200ms;
    transition: opacity 200ms;
  }

  &::placeholder {
    color: $color-border-primary;
    -webkit-transition: opacity 200ms;
    -o-transition: opacity 200ms;
    transition: opacity 200ms;
  }

  &:focus {
    outline-color: $color-link-secondary;
  }

  &:focus::-webkit-input-placeholder {
    opacity: 0;
  }

  &:focus::-moz-placeholder {
    opacity: 0;
  }

  &:focus:-ms-input-placeholder {
    opacity: 0;
  }

  &:focus::placeholder {
    opacity: 0;
  }
}

@mixin inpt {
  padding: 5px 15px;
  border: 1px solid $color-border-primary;
  background-color: transparent;

  &:focus {
    outline-color: transparent;
  }

  .form-row.is-error &,
  &.is-error {
    border-color: #ef9a9a;
  }
}

.inpt {
  @include inpt;
}

.notice,
.page-feedback form #thanks:not(:empty),
.page-feedback form small {
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  line-height: 1.2;
}

.notice:last-child,
.page-feedback form #thanks:last-child:not(:empty),
.page-feedback form small:last-child {
  margin-bottom: 0;
}

.notice h2,
.page-feedback form #thanks:not(:empty) h2,
.page-feedback form small h2,
.notice h3,
.page-feedback form #thanks:not(:empty) h3,
.page-feedback form small h3,
.notice h4,
.page-feedback form #thanks:not(:empty) h4,
.page-feedback form small h4 {
  margin-top: 0;
  color: inherit;
}

.notice > p:last-child,
.page-feedback form #thanks:not(:empty) > p:last-child,
.page-feedback form small > p:last-child,
.notice > ul:last-child,
.page-feedback form #thanks:not(:empty) > ul:last-child,
.page-feedback form small > ul:last-child {
  margin-bottom: 0;
}

.notice > p + p,
.page-feedback form #thanks:not(:empty) > p + p,
.page-feedback form small > p + p {
  margin-top: 5px;
}

.notice.is-error,
.page-feedback form .is-error#thanks:not(:empty),
.page-feedback form small.is-error,
.notice.notice-error,
.page-feedback form .notice-error#thanks:not(:empty),
.page-feedback form small.notice-error {
  background-color: rgba(255, 84, 91, 0.9);
  border-color: #ff212a;
  color: #540003;
}

.notice.is-error hr,
.page-feedback form .is-error#thanks:not(:empty) hr,
.page-feedback form small.is-error hr,
.notice.notice-error hr,
.page-feedback form .notice-error#thanks:not(:empty) hr,
.page-feedback form small.notice-error hr {
  border-top-color: #ff0812;
}

.notice.is-error a,
.page-feedback form .is-error#thanks:not(:empty) a,
.page-feedback form small.is-error a,
.notice.notice-error a,
.page-feedback form .notice-error#thanks:not(:empty) a,
.page-feedback form small.notice-error a {
  color: #210001;
}

.notice.is-info,
.page-feedback form .is-info#thanks:not(:empty),
.page-feedback form small.is-info,
.notice.notice-info,
.page-feedback form .notice-info#thanks:not(:empty),
.page-feedback form small#thanks:not(:empty),
.page-feedback form small {
  background-color: rgba(133, 208, 231, 0.9);
  border-color: #5bc0de;
  color: #124a5b;
}

.notice.is-info hr,
.page-feedback form .is-info#thanks:not(:empty) hr,
.page-feedback form small.is-info hr,
.notice.notice-info hr,
.page-feedback form .notice-info#thanks:not(:empty) hr,
.page-feedback form small#thanks:not(:empty) hr,
.page-feedback form small hr {
  border-top-color: #46b8da;
}

.notice.is-info a,
.page-feedback form .is-info#thanks:not(:empty) a,
.page-feedback form small.is-info a,
.notice.notice-info a,
.page-feedback form .notice-info#thanks:not(:empty) a,
.page-feedback form small#thanks:not(:empty) a,
.page-feedback form small a {
  color: #0a2730;
}

.notice.is-warning,
.page-feedback form .is-warning#thanks:not(:empty),
.page-feedback form small.is-warning,
.notice.notice-warning,
.page-feedback form .notice-warning#thanks:not(:empty),
.page-feedback form small.notice-warning {
  background-color: rgba(244, 195, 125, 0.9);
  border-color: #f0ad4e;
  color: #694109;
}

.notice.is-warning hr,
.page-feedback form .is-warning#thanks:not(:empty) hr,
.page-feedback form small.is-warning hr,
.notice.notice-warning hr,
.page-feedback form .notice-warning#thanks:not(:empty) hr,
.page-feedback form small.notice-warning hr {
  border-top-color: #eea236;
}

.notice.is-warning a,
.page-feedback form .is-warning#thanks:not(:empty) a,
.page-feedback form small.is-warning a,
.notice.notice-warning a,
.page-feedback form .notice-warning#thanks:not(:empty) a,
.page-feedback form small.notice-warning a {
  color: #3a2405;
}

.notice.is-success,
.page-feedback form .is-success#thanks:not(:empty),
.page-feedback form small.is-success,
.notice.notice-success,
.page-feedback form #thanks:not(:empty),
.page-feedback form small.notice-success {
  background-color: rgba(128, 199, 128, 0.9);
  border-color: #5cb85c;
  color: #163216;
}

.notice.is-success hr,
.page-feedback form .is-success#thanks:not(:empty) hr,
.page-feedback form small.is-success hr,
.notice.notice-success hr,
.page-feedback form #thanks:not(:empty) hr,
.page-feedback form small.notice-success hr {
  border-top-color: #4cae4c;
}

.notice.is-success a,
.page-feedback form .is-success#thanks:not(:empty) a,
.page-feedback form small.is-success a,
.notice.notice-success a,
.page-feedback form #thanks:not(:empty) a,
.page-feedback form small.notice-success a {
  color: #060f06;
}

@mixin select {
  font-size: 16px;
  font-weight: 500;
  padding: 5px;
}

select {
  @include select;

  &:focus {
    outline-color: $color-link-secondary;
  }
}

.select-style {
  color: $color-link-secondary;
  padding: 5px 25px 5px 13px;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('arr-down-prime.svg');
  background-repeat: no-repeat;
  background-position: -webkit-calc(100% - 7px) center;
  background-position: calc(100% - 7px) center;
  -webkit-background-size: 10px 10px;
  background-size: 10px;

  &::-ms-expand {
    display: none;
  }
}

html {
  color: $color-text-primary;
  font-family: $font-family-primary;
  font-size: $font-size-primary;
  min-width: 1200px;
  height: 100%;
}

body {
  font-size: 100%;
  min-width: 1200px;
  height: 100%;
  max-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-rendering: optimizeLegibility;
  line-height: 1;
  margin-top: 0;
}

h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2em;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2em;
}

h3 {
  font-size: 20px;
  font-weight: 700;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

a {
  color: $color-link-primary;
  -webkit-transition: color ease 0.3s;
  -o-transition: color ease 0.3s;
  transition: color ease 0.3s;
}

a[class] {
  text-decoration: none;
}

a:hover {
  color: $color-link-primary-hover;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #50585d;
}

p,
ul,
ol {
  margin: 1em 0;
}

ol ol,
ul ul,
ul ol,
ol ul {
  margin: 0.4em 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #efefef;
  margin: 3.2em 0;
  padding: 0;
}

blockquote {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1.6em 0 1.6em -1.2em;
  padding: 0 0 0 1.6em;
  border-left: #4a4a4a 0.6em solid;
}

blockquote p {
  margin: 0.8em 0;
  font-style: italic;
}

blockquote small {
  display: inline-block;
  margin: 0.8em 0 0.8em 1.5em;
  font-size: 0.9em;
  color: #ccc;
}

blockquote small:before {
  content: '\2014 \00A0';
}

blockquote cite {
  font-weight: bold;
}

blockquote cite a {
  font-weight: normal;
}

dl {
  margin: 1.6em 0;
}

dl dt {
  float: left;
  width: 180px;
  overflow: hidden;
  clear: left;
  text-align: right;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
  margin-bottom: 1em;
}

dl dd {
  margin-left: 200px;
  margin-bottom: 1em;
}

mark {
  background-color: #ffc336;
}

code,
tt {
  padding: 1px 3px;
  font-family: Inconsolata, monospace, sans-serif;
  font-size: 0.85em;
  white-space: pre;
  border: 1px solid #e3edf3;
  background: #f7fafb;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

pre {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1.6em 0;
  border: 1px solid #e3edf3;
  width: 100%;
  padding: 10px;
  font-family: Inconsolata, monospace, sans-serif;
  font-size: 0.9em;
  white-space: pre;
  overflow: auto;
  background: #f7fafb;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

pre code,
tt {
  font-size: inherit;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
  background: transparent;
  border: none;
  padding: 0;
}

kbd {
  display: inline-block;
  margin-bottom: 0.4em;
  padding: 1px 8px;
  border: #ccc 1px solid;
  color: #666;
  text-shadow: #fff 0 1px 0;
  font-size: 0.9em;
  font-weight: bold;
  background: #f4f4f4;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 0 #fff inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 0 #fff inset;
}

table {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1.6em 0;
  width: 100%;
  max-width: 100%;
  background-color: transparent;
}

table th,
table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #efefef;
}

table th {
  color: #000;
}

table caption + thead tr:first-child th,
table caption + thead tr:first-child td,
table colgroup + thead tr:first-child th,
table colgroup + thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
  border-top: 0;
}

table tbody + tbody {
  border-top: 2px solid #efefef;
}

table table table {
  background-color: #fff;
}

table tbody > tr:nth-child(odd) > td,
table tbody > tr:nth-child(odd) > th {
  background-color: #f6f6f6;
}

table.plain {
  tbody > tr:nth-child(odd) > td,
  tbody > tr:nth-child(odd) > th {
    background: transparent;
  }
}

label {
  cursor: pointer;
}
