.blog-item {
  margin-bottom: 1rem;
}
.blog-articles {
  padding-left: 0;
}

.article-title {
  font-size: 2.5rem;
}
.article-image {
  margin-bottom: 1rem;
}
.article-products {
  padding: 1rem 0;
}

body {
  min-width: 1200px;
  margin: 0;
}
