@import "function.scss";
@import "mixins.scss";
@import "variables_default.scss";
@import "variables.scss";
.article-title {
  font-size: 2.5rem;
}

.article-image {
  margin-bottom: 1rem;
}

.article-products {
  padding: 1rem 0;
}

.blog-item {
  margin-bottom: 1rem;
}

.blog-articles {
  padding-left: 0;
}

.discounts-wrap {
  width: 100%;
}

body {
  min-width: 1200px;
  margin: 0;
}
