@import "function.scss";
@import "mixins.scss";
@import "variables_default.scss";
@import "variables.scss";
.star-rating-wrapper {
  *zoom: 1;
}

.star-rating-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

.star-rating {
  float: left;
  *zoom: 1;
}

.star-rating:after {
  content: "";
  display: table;
  clear: both;
}

.star-rating .star-radio {
  display: none;
}

.star-rating .star-radio:hover ~ .star-label:after,
.star-rating .star-radio:checked ~ .star-label:after {
  content: "";
}

.star-rating .star-radio:hover ~ .star-label:after {
  color: gold !important;
}

.star-rating .star-radio:checked ~ .star-label:after {
  color: #f28c00;
}

.star-rating .star-label {
  cursor: pointer;
  float: right;
  font-size: 1.4rem;
}

.star-rating .star-label:after {
  color: goldenrod;
  content: "";
  display: inline-block;
  font-family: "FontAwesome";
}

.star-rating .star-label:hover:after {
  color: gold;
}

.star-rating .star-label:hover ~ .star-label:after {
  color: gold !important;
}

.star-rating .star-label.active ~ .star-label:after,
.star-rating .star-label.active:after {
  content: "";
}

.star-rating .star-item {
  color: goldenrod;
  float: right;
  overflow: hidden;
}

.star-rating .star-item:after {
  content: "";
  display: inline-block;
  font-family: "FontAwesome";
}

.star-rating .star-item.active:after {
  color: #f28c00;
  content: "";
}

.star-rating .star-item.active ~ .star-item:after {
  color: #f28c00;
  content: "";
}

.form-field.text-field {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

.form-row {
  margin-bottom: 1rem;
}

.form-label {
  width: 100%;
  margin-bottom: 0.5rem;
}

.form-field.text-field.is-textarea {
  width: 100%;
}

.reviews-form {
  margin-bottom: 20px;
}

.reviews-toggle-wrapper {
  margin-bottom: 20px;
}

.form-field.text-field.is-captcha {
  margin-top: 10px;
}

.reviews-wrapper {
  max-width: 600px;
}

.reviews-item {
  padding: 5px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

#comment_form {
  max-width: 600px;
}

[name="comment[captcha_solution]"] {
  margin-bottom: 10px;
}

.comments-item {
  margin-bottom: 1rem;
}

.comments-list {
  margin-bottom: 3rem;
}

.author {
  margin-right: 10px;
}

.comment-body {
  padding: 10px 0;
}

.list-link {
  text-decoration: none;
}

.aside-header a {
  text-decoration: none;
}

.aside-header h2 {
  margin-bottom: 10px;
}

.last-articles {
  margin-bottom: 20px;
}

.list-item {
}

.articles-list .list-item {
  margin-bottom: 10px;
}


/** breadcrumb */
.breadcrumb {
  list-style: none;
  margin: 0;
  padding: 0.5rem 0;
}

.breadcrumb-item {
  display: inline-block;
  vertical-align: baseline;
}

.breadcrumb-item:not(:last-child):after {
  content: '>';
}

.article_preview {
  height: 100%;
  position: relative;
}

.article_preview-title {
  color: #000000;
  font-size: 22px;
  font-weight: 300;
  word-break: break-word;
  text-align: left;

  a {
    text-decoration: none;
    color: #000000;
    cursor: pointer;
  }
}

.article_preview-blog {
  color: #000000;
  font-size: 14px;
  font-weight: 300;

  a {
    text-decoration: none;
    color: #000000;
    cursor: pointer;
  }
}

.item-quantity-input.in-cart {
  width: 50px;
  text-align: center;
}

.item-delete {
  border: none;
  background: none;
  font-size: 25px;
  cursor: pointer;
  outline: none;
}

/** category-menu */
.category-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.category-menu-item {
  display: block;
}

/** collection_filters */
.filter-items-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-label {
  cursor: pointer;
  display: block;
  position: relative;
  padding-left: 20px;
}

.checkbox-field {
  display: none;
}

.filter-checkbox {
  width: 12px;
  height: 12px;
  position: absolute;
  border: 1px solid #3a4145;
  left: 0;
  top: -webkit-calc(50% - 8px);
  top: calc(50% - 8px);
}

.checkbox-field + .filter-checkbox:after {
  content: '';
  display: inline-block;
  position: absolute;
  left: 1px;
  top: 1px;
  width: 8px;
  height: 8px;
  background-color: #3a4145;
  opacity: 0;
  -webkit-transition: opacity 200ms;
  -o-transition: opacity 200ms;
  transition: opacity 200ms;
}

.checkbox-field:checked + .filter-checkbox:after {
  opacity: 1;
}

/** collection-order */
.collection-order.is-page-size .label-field {
  vertical-align: middle;
}

.collection-order.is-page-size .select-field {
  vertical-align: middle;
}

.collection-order select {
  border-color: transparent;
}

.main-menu {
  display: block;
  text-align: center;
}

.main-menu-item {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}


.feedback-modal {
  position: relative;
  max-width: 450px;
  background: #fff;
  margin: auto;
  padding: 30px;
  text-align: center;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.feedback-title {
  font-size: 24px;
  margin-bottom: 1.5rem;
}

.feedback-row {
  margin-bottom: 1rem;
}

.feedback-field-wrap {
  max-width: 300px;
  margin: auto;
}

.feedback-field {
  width: 100%;
  font-size: 16px;
  padding: 8px 12px;
}

.form-error {
  color: red;
}

.form-done {
  color: $color-link-primary;
}

.feedback-agree {
  margin: 0.5rem auto 0.5rem;
}

.mfp-bg {
  background: rgba(11, 11, 11, 0.3);
}

.added-modal {
  position: relative;
  max-width: 500px;
  background: #fff;
  padding: 20px;
  margin: auto;
  position: relative;
}

.added-title {
  text-align: center;
  margin-bottom: 1rem;
}

.added-content {
  text-align: center;
}

.added-close {
  border: 1px solid;
  background: none;
  padding: 5px;
  font-size: 16px;
  color: #4a4a4a;
}

.added-link {
  border: 1px solid;
  padding: 5px;
  font-size: 16px;
  color: #4a4a4a;
}

/** pagination */
.pagination {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  width: auto;
  -webkit-box-flex: 0 1 auto;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  margin-left: auto;
}

.pagination > .pagination-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  position: relative;
}

.pagination .pagination-link {
  display: inline-block;
}

.pagination .pagination-item + .pagination-item {
  margin-left: 3px;
}

.pagination .pagination-item .pagination-link {
  color: #2196f3;
  text-decoration: none;
  border: 1px solid #bbdefb;
  display: block;
  padding: 6px 4px;
  height: auto;
  min-width: 30px;
  color: #333333;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  vertical-align: top;
  line-height: 1.1;
}

.pagination .pagination-item .pagination-link:hover {
  color: #0a6ebd;
  text-decoration: none;
}

.pagination .pagination-item.is-current .pagination-link {
  color: #4285f4;
  border-color: #4285f4;
}

.pagination .pagination-item:hover .pagination-link,
.pagination .pagination-item .pagination-link:hover {
  border-color: #6fc7f2;
  color: #6fc7f2;
}

.gallery-wrapper {
  margin: 0 15px;
}

.gallery-slide {
  text-align: center;
}

.gallery-thumb.active {
  border: 1px solid #1565c0;
}

.gallery-wrapper .swiper-container-android .swiper-slide,
.gallery-wrapper .swiper-wrapper {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.gallery-thumb {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  border: 1px solid transparent;
}

.gallery-wrapper {
  .swiper-button-prev,
  .swiper-container-rtl .swiper-button-next {
    -webkit-background-size: 8px 8px;
    background-size: 8px;
    background-position: 50%;
    width: 24px;
    height: 24px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #636467;
    left: -44px;
    top: -webkit-calc(50% + 9px);
    top: calc(50% + 9px);
  }

  .swiper-button-next,
  .swiper-container-rtl .swiper-button-prev {
    -webkit-background-size: 8px 8px;
    background-size: 8px;
    background-position: 50%;
    width: 24px;
    height: 24px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #636467;
    right: -44px;
    top: -webkit-calc(50% + 9px);
    top: calc(50% + 9px);
  }
}

.gallery-thumbs-wrap {
  width: -webkit-calc(100% - 88px);
  width: calc(100% - 88px);
  position: relative;
}

.products-slider-wrapper {
  position: relative;
  padding: 24px 0;
}

.products-title {
  font-size: 24px;
}

.product-quantity-input {
  width: 50px;
  text-align: center;
}

.product-buy {
  margin: 1rem 0;
}

.item-quantity-control {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.form-field.text-field {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  outline: none;
}

.form-row {
  margin-bottom: 1rem;
}

.form-label {
  width: 100%;
  margin-bottom: 0.5rem;
}

.form-field.text-field.is-textarea {
  width: 100%;
}

.button.button-is-border {
  color: #0b0b0b;
  font-family: "SFUI Text", sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  background: none;
  border: none;
  text-decoration: none;
  border-bottom: 1px dotted #464646;
  cursor: pointer;
  padding: 0;
}

.reviews-form {
  margin-bottom: 20px;
}

.reviews-toggle-wrapper {
  margin-bottom: 20px;
}

.form-field.text-field.is-captcha {
  margin-top: 10px;
}

.reviews-wrapper {
  max-width: 600px;
}

.reviews-item {
  padding: 5px 0;
  border-bottom: 1px solid #ccc;
}

.reviews-empty {
  padding: 5px;
  background: #f9f9f9;
}

.product_tabs-box {
  padding: 1em 0px;
}

.product_tabs-head.tabs-head {
  position: relative;
  padding-right: 50px;
  min-height: 34px;
}

.product_tabs-icon {
  display: inline-block;
  height: 34px;
  position: absolute;
  right: 0;
  top: -webkit-calc(50% - 25px);
  top: calc(50% - 25px);
  width: 41px;
}

.product_tabs-target {
  display: none;
}

.product_tabs {
  border-top: 1px solid #d2d2d1;
  padding-top: 25px;
  margin-top: 25px;
  padding-bottom: 25px;
}

.product_tabs-item {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #b4b4b4;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.product_tabs-item.is-button-active {
  color: #444;
}

.product_tabs-item {
  display: inline-block;
  vertical-align: top;
  border-bottom: 1px solid transparent;
  -webkit-border-radius: 0;
  border-radius: 0;
  outline: none;
  padding: 0 5px 8px 5px;
}

.product_tabs-item.is-button-active {
  border-bottom: 3px solid #1565c0;
}

/** option */
.option-value.is-span {
  border: 1px solid #ccc;
  background: none;
  line-height: 1.5;
  min-width: 25px;
  display: inline-block;
  vertical-align: middle;
  min-height: 25px;
  text-align: center;
  cursor: pointer;
  outline: none;
}

.option-value.is-active.is-span {
  border-color: #000;
}

.option-selector {
  margin: 1rem 0;
}
