.benefit-img {
  max-width: 200px;
  margin: 10px auto;
}

/** breadcrumb */
.breadcrumb {
  list-style: none;
  margin: 0;
  padding: 0.5rem 0;
}
.breadcrumb-item {
  display: inline-block;
  vertical-align: baseline;
}
.breadcrumb-item:not(:last-child):after {
  content: '>';
}

/** category-menu */
.category-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.category-menu-item {
  display: block;
}

/** collection_filters */
.filter-items-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.filter-label {
  cursor: pointer;
  display: block;
  position: relative;
  padding-left: 20px;
}
.checkbox-field {
  display: none;
}

.filter-checkbox {
  width: 12px;
  height: 12px;
  position: absolute;
  border: 1px solid #3A4145;
  left: 0;
  top: 10px;
}
.checkbox-field + .filter-checkbox:after {
  content: '';
  display: inline-block;
  position: absolute;
  left: 1px;
  top: 1px;
  width: 8px;
  height: 8px;
  background-color: #3A4145;
  opacity: 0;
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
}
.checkbox-field:checked + .filter-checkbox:after {
  opacity: 1;
}

/** collection-order */
.collection-order.is-page-size .label-field {
  vertical-align: middle;
}
.collection-order.is-page-size .select-field {
  vertical-align: middle;
}
.collection-order-wrapper {
  padding-bottom: 2rem;
}
.collection-order {
  line-height: 1;
  font-size: 1.6rem;
}

.main-menu {
  display: block;
  text-align: center;
}
.main-menu-item {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}


/** pagination */
.pagination {
	list-style: none;
	margin: 0;
	padding: 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	width: auto;
	-webkit-box-flex: 0 1 auto;
	-webkit-flex: 0 1 auto;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	margin-left: auto;
}

.pagination > .pagination-item {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	position: relative;
}

.pagination .pagination-link {
	display: inline-block;
}

.pagination .pagination-item + .pagination-item {
	margin-left: 3px;
}

.pagination .pagination-item .pagination-link {
	color: #2196F3;
	text-decoration: none;
	border: 1px solid #bbdefb;
	display: block;
	padding: 6px 4px;
	height: auto;
	min-width: 30px;
	color: #333333;
	font-size: 1rem;
	text-decoration: none;
	text-align: center;
	vertical-align: top;
	line-height: 1.1;
}

.pagination .pagination-item .pagination-link:hover {
	color: #0a6ebd;
	text-decoration: none;
}

.pagination .pagination-item.is-current .pagination-link {
	color: #4285f4;
	border-color: #4285f4;
}

.pagination .pagination-item:hover .pagination-link, .pagination .pagination-item .pagination-link:hover {
	border-color: #6fc7f2;
	color: #6fc7f2;
}

.product-quantity-input {
  width: 50px;
  text-align: center;
}
.product-buy {
  margin: 1rem 0;
}

/** option */
.option-value.is-span {
  border: 1px solid #ccc;
  background: none;
  line-height: 1.5;
  min-width: 25px;
  display: inline-block;
  vertical-align: middle;
  min-height: 25px;
  text-align: center;
  cursor: pointer;
  outline: none;
}
.option-value.is-active.is-span {
  border-color: #000;
}
.option-selector {
  margin: 1rem 0;
}
