<div class="container">

  {% include "promo" %}

  {% include "products_slider", products_handle: 'frontpage', products_title: collections.frontpage.tile, products_prefix: 'is-frontpage' %}

  <div class="page-content">
    {{ page.content }}
  </div>

</div>
