/** benefits */
.benefits-wrapper {
	padding-bottom: 1rem;
}

.benefits {
	margin-top: -1rem;
	margin-bottom: -1rem;
}

.benefit {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1 1 20%;
	-webkit-flex: 1 1 20%;
	-ms-flex: 1 1 20%;
	flex: 1 1 20%;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-top: 1rem;
	margin-bottom: 1rem;
	text-align: center;
}

.benefit-inner {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-flex: 1 1 100%;
	-webkit-flex: 1 1 100%;
	-ms-flex: 1 1 100%;
	flex: 1 1 100%;
	margin: -0.5rem -0.5rem;
}

.benefit-link {
	color: #333333;
	text-decoration: none;
}

.benefit-link:hover {
	color: #6fc7f2;
	text-decoration: none;
}

.benefit-image {
	-webkit-box-flex: 0 0 50px;
	-webkit-flex: 0 0 50px;
	-ms-flex: 0 0 50px;
	flex: 0 0 50px;
	margin: 0.5rem 0.5rem;
}

.benefit-title {
	-webkit-box-flex: 1 1 100%;
	-webkit-flex: 1 1 100%;
	-ms-flex: 1 1 100%;
	flex: 1 1 100%;
	margin: 0.5rem 0.5rem;
	font-size: 1.2rem;
	text-transform: uppercase;
	line-height: 1.2;
}
