{% include "breadcrumb" %}

<div class="row">
  <div class="page-content cell-9 cell-8-lg cell-12-sm">

    <div class="decorated-title-wrapper">
      <div class="decorated-title">
        {% include "page_header" %}
      </div>
    </div>

    {% paginate articles by 2 %}
      <div class="articles-list">

        {% for article in articles %}
          <div class="article-preview-wrapper">
            {% include "article_preview" %}
          </div>
        {% endfor %}

      </div>

      <div class="blog-toolbar">
        {% if paginate.parts.size > 1 %}
          {% include "pagination" %}
        {% endif %}
      </div>
    {% endpaginate %}

  </div>

  <div class="page-sidebar cell-3 cell-4-lg cell-hide-sm">

    {% for blog in blogs %}
      <div class="sidebar-block">
        <div class="blog-menu-header sidebar-block-header">
          {{ blog.title }}
        </div>

        <ul class="blog-menu">
          {% for article in blog.articles limit: 5 %}
            <li class="blog-menu-item">
              <a href="{{ article.url }}" class="blog-menu-link">{{ article.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}

  </div>
</div>
