{% unless products_prefix %}
  {% assign products_prefix = 'is-default' %}
{% endunless %}

{% unless card_prefix %}
  {% assign card_prefix = 'is-default' %}
{% endunless %}

{% if products_array.size > 0 %}
<div class="products products-{{ products_prefix }}">

  <div class="container">

    {% if products_title %}
    <h3 class="page-title">
      {{ products_title }}
    </h3>
    {% endif %}

    <div class="products-slider-wrapper">
      <div class="products-slider swiper-container js-products-slider products-slider-{{ products_prefix }}">
        <div class="swiper-wrapper">
          {% for product in products_array %}
          <div class="swiper-slide {{ products_prefix }}">
            {% include "card", card_prefix: card_prefix %}
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="products-control">
        <div class="swiper-button-prev products-control-prev">
        </div>
        <div class="swiper-button-next products-control-next">
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% assign products_array = null %}
{% assign products_prefix = null %}
{% assign products_prefix = null %}
