// настройки поумолчанию

// Шрифты
$font-family-primary: sans-serif;
$font-family-second: sans-serif;
$font-size-primary: 16px;

// Colors
$color-background-primary: #fff;
$color-text-primary: #444444;
$color-link-primary: #1565c0;
$color-link-primary-hover: #2196f3;
$color-border-primary: #cccccc;
