<!-- Slider main container -->
<div class="swiper-container js-promo">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <img src="{{ 'slide_1.jpg' | asset_url }}" alt="">
        </div>
        <div class="swiper-slide">
          <img src="{{ 'slide_2.jpg' | asset_url }}" alt="">
        </div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination promo-slider-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev promo-slider-prev"></div>
    <div class="swiper-button-next promo-slider-next"></div>

</div>
