<form class="search-widget {{ search_widget }}" action="/search" method="get">
  <input type="text"
          name="q"
          class="search-widget-field"
          value="{{ search.query | escape }}"
          placeholder="{{ messages.search_title}}"
  />
  <button type="submit" class="search-widget-button button">
    <i class="fa fa-search"></i>
  </button>

  {% if language.not_default? %}
    <input type="hidden" name="lang" value="{{ language.locale }}">
  {% endif %}

</form>