/** breadcrumb */
.breadcrumb {
  list-style: none;
  margin: 0;
  padding: 0.5rem 0;
}
.breadcrumb-item {
  display: inline-block;
  vertical-align: baseline;
}
.breadcrumb-item:not(:last-child):after {
  content: '>';
}
