<div class="index-block title-content">
  <div class="decorated-title-wrapper">
    <div class="decorated-title">
      {% include "page_header" %}
    </div>
  </div>

  <div class="editor">
    {{ page.content | editable }}
  </div>
</div>
