{% unless products_prefix %}
  {% assign products_prefix = 'is-default' %}
{% endunless %}

{% if products_handle == 'related' %}
    {% assign products_array = product.related_products %}
{% endif %}

{% if products_handle == 'similar' %}
    {% assign products_array = product.similar_products %}
{% endif %}

{% unless products_handle == 'related' or products_handle == 'similar' %}
  {% assign products_array = collections[products_handle].products %}
{% endunless %}

{% if products_array.size > 0 %}
<div class="products {{products_prefix}}">

  <div class="container">

    {% if products_title %}
    <h3 class="page-title text-center">
      <span>
        {{ products_title }}
      </span>
    </h3>
    {% endif %}

    <div class="products-slider swiper-container js-products-slider {{products_prefix}}">
      <div class="swiper-wrapper">
      {% for product in products_array %}
        <div class="swiper-slide {{products_prefix}}">
          {% include "card", card_prefix: products_prefix %}
        </div>
      {% endfor %}
      </div>
      <div class="products-control">
        <div class="swiper-button-prev products-control-prev">
        </div>
        <div class="swiper-button-next products-control-next">
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% assign products_array = null %}
{% assign products_prefix = null %}
{% assign products_handle = null %}
