{% for blog in blogs %}
  {% if blog.articles.size > 0 %}
    <div class="index-block news-feed-wrapper">

      <div class="news-feed-inner">

        <div class="news-feed swiper-container">
          <div class="news-feed-header swiper-header decorated-title-wrapper">
            <h2 class="swiper-title decorated-title">
              <a href="{{ blog.url }}" class="link">
                {{ blog.title }}
              </a>
            </h2>

            <div class="swiper-controls">
              <button type="button" class="button swiper-button-prev">
                <i class="fa fa-angle-left"></i>
              </button>
              <button type="button" class="button swiper-button-next">
                <i class="fa fa-angle-right"></i>
              </button>
            </div>
          </div>

          <div class="swiper-wrapper">

            {% for article in blog.articles limit: 8 %}

              <div class="swiper-slide">
                {% include "article_preview", show_readmore: false %}
              </div>

            {% endfor %}

          </div>

        </div>

      </div>
    </div>

  {% endif %}
{% endfor %}
