<div id="cart-add" class="mfp-hide added-modal">
  <div class="added">
    <div class="added-title">
      Товар добавлен в корзину
    </div>
    <div class="added-content">
      <a href="/cart_items" class="added-link button">Оформить заказ</a>
      <button class="added-close button">Продолжить покупки</button>
    </div>
  </div>
</div>
