<div class="container">
  <div class="row">
    <div class="cell-3">
      {% include "collection_filters" %}
    </div>
    <div class="cell-9">
      <h1 class="collection-title">
        {{ collection.title }}
      </h1>
      {% if collection.description %}
        <div class="collection-description">
          {{ collection.description }}
        </div>
      {% endif %}
      <div class="container">
        {% include "collection_order" %}
      </div>
      {% paginate products by 8 %}
      <div class="container">
        <div class="row">
          {% for product in collection.products %}
            <div class="cell-3">
              {% include "card", card_prefix: 'in-collection' %}
            </div>
          {% endfor %}
        </div>
        {% include "pagination" %}
      </div>
      {% endpaginate %}
    </div>
  </div>
</div>
