<!-- Slider main container -->
<div class="swiper-container js-promo">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <img src="http://fakeimg.pl/1200x400/e5e5e5/" alt="">
        </div>
        <div class="swiper-slide">
          <img src="http://fakeimg.pl/1200x400/d5d5d5/" alt="">
        </div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination swiper-pagination-black promo-slider-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev swiper-button-black promo-slider-prev"></div>
    <div class="swiper-button-next swiper-button-black promo-slider-next"></div>

</div>
