<div class="products-list row">

  {% if products.size > 0 %}

    {% for product in products %}

      <div class="product-card-wrapper cell-4 cell-6-md cell-12-mc">
        {% include 'product_card' %}
      </div>

    {% endfor %}

  {% else %}

    {% if collection.current_characteristics.size > 0 or price_min or collection.current_option_values.size > 0 %}

      <div class="cell-12">
        <div class="notice notice-warning">{{ messages.collection_filters_is_empty }}</div>

        <a href="{{ collection.url }}" class="button is-primary">{{ messages.button_clear }}</a>
      </div>

    {% else %}

      <div class="cell-12">
        <div class="notice notice-info">
          {{ messages.collection_is_empty }}
        </div>
      </div>

    {% endif %}

  {% endif %}

</div>
