/** collection-order */
.collection-order.is-page-size .label-field {
  vertical-align: middle;
}
.collection-order.is-page-size .select-field {
  vertical-align: middle;
}
.collection-order select {
  border-color: transparent;
}
