<script type="text/template" data-template-id="option-select">
 <div class="<%= classes.option %> is-select">
   <label class="<%= classes.label %>"><%= title %></label>
   <select class="<%= classes.values %>">
     <% _.forEach(values, function (value){ %>
       <option
         <%= value.controls %>
         <%= value.state %>
       >
         <%= value.title %>
       </option>
     <% }) %>
   </select>
 </div>
</script>
<script type="text/template" data-template-id="option-span">
 <div class="<%= classes.option %> is-span">
   <label class="<%= classes.label %>"><%= title %></label>
   <div class="<%= classes.values %>">
     <% _.forEach(values, function (value){ %>
       <button class="<%= value.classes.all %> is-span"
         <%= value.controls %>
         <%= value.state %>
       >
         <%= value.title %>
       </button>
     <% }) %>
   </div>
 </div>
</script>

<script type="text/template" data-template-id="option-radio">
 <div class="<%= classes.option %> is-radio">
   <label class="<%= classes.label %>"><%= title %></label>
   <div class="<%= classes.values %>">
     <% _.forEach(values, function (value){ %>
       <label class="<%= value.classes.all %> is-radio">
         <input class="<%= value.classes.state %>"
           type="radio"
           name="<%= handle %>"
           <%= value.state %>
           <%= value.controls %>
         >
         <span><%= value.title %></span>
       </label>
     <% }) %>
   </div>
 </div>
</script>

<script type="text/template" data-template-id="option-color">
 <div class="<%= classes.option %> is-color">
   <label class="<%= classes.label %>"><%= title %></label>
   <div class="<%= classes.values %>">
     <% _.forEach(values, function (value){ console.log(images); %>
       <button  class="<%= value.classes.all %> is-color"
         <%= value.controls %>
         <%= value.state %>
       >
         <%= value.title %>
       </button>
     <% }) %>
   </div>
 </div>
</script>


<script type="text/template" data-template-id="option-image">
  <div class="option-<%= option.handle %>">
    <label><%= option.title %></label>
    <div>
      <% _.forEach(option.values, function (value){ %>
        <span
          data-option-bind="<%= option.id %>"
          data-value-position="<%= value.position %>"
          class="option-image
          <% if (option.selected == value.position & initOption) { %>active<% } %>
          <% if (value.disabled) { %>disabled<% } %>"
        >
          <% if (images[value.name]) { %>
            <img src="<%= images[value.name].small_url %>" alt="<%= value.title %>">
          <% }else{ %>
            <span><%= value.title %></span>
          <% } %>
        </span>
      <% }) %>
    </div>
  </div>
</script>
