.search {}

.search-results-toolbar {
  @include display-flex();
  margin-bottom: $vertical-gutter;
  margin-top: $vertical-gutter;

  > * {
  }

  &.is-bottom {
    border-top: 2px solid $gray-lighter;
  }
}
