/** discounts */

.discount-form {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: strech;
	-webkit-align-items: strech;
	-ms-flex-align: strech;
	align-items: strech;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.discount-input {
	-webkit-box-flex: 0 1 300px;
	-webkit-flex: 0 1 300px;
	-ms-flex: 0 1 300px;
	flex: 0 1 300px;
	width: 100%;
	min-width: 10px;
	padding: 0 0.5rem;
	height: inherit;
	border: 1px solid #bbdefb;
}

.discount-comment {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	margin-left: -0.5rem;
	margin-right: -0.5rem;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.discount-comment > * {
	margin: 0.5rem 0.5rem;
}

.discount-description {
	-webkit-box-flex: 3 0 200px;
	-webkit-flex: 3 0 200px;
	-ms-flex: 3 0 200px;
	flex: 3 0 200px;
	line-height: 1.4;
}

.discount-amount {
	-webkit-box-flex: 1 0 50px;
	-webkit-flex: 1 0 50px;
	-ms-flex: 1 0 50px;
	flex: 1 0 50px;
	font-size: 1.2rem;
	white-space: nowrap;
	color: #4285f4;
	text-align: right;
}

.discounts-notice {
	display: inline-block;
}
